body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: black;
    padding: 5vh 0vw;
    color: white;
    text-align: center;
}

.hidden, i.fas, header ul {
    display: none;
}

h1 {
    font-size:3vw;
    margin: 0 1vw;
}

h2 {
    font-size: 2vw;
    margin-top: 2vh;
}

h3 {
    font-size: 2vw;
    text-align: center;
    padding: 3vh 2vh;
}
h4 {
    margin: 5vw 2vw 2vw 2vw;
}

h4, .flip-card a {
    font-size: 2vw;
    color: white;
    text-decoration-line: underline;
    line-height: 2.5vw;
}

.flip-card a:hover {
    color: orange;
}

nav {
    font-size: 2vw;
    text-align: center;
    background-color: orange;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 4vh 5vw;
}

a {
    text-decoration: none;
    color: black;
}

.work {
    display: block;
}

a:hover {
    color:white;
}

.fas {
    color: white;
}

.work {
    display: block;
}

#about p {
    width: 80vw;
    text-align: justify;
    font-size: 2vw;
    line-height: 3vw;
    margin: 2vh auto;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flip-card-inner p {
    font-style: oblique;
    margin: 0 2vw;
    font-size: 1.75vw;
    line-height: 2.5vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#mobile-nav {
    display: none;
    color:white;
    list-style: none;
    text-align:left;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
}

#contact a {
    color:black;
}

#contact a:hover {
    color: tomato;
}

#contact li {
    font-size: 2vw;
    text-align: center;
    margin-bottom: 1vw;
}

#contact i.fas {
    color: orange;
    display: inline-flex;
}

#contact img:last-child {
    height: 20vw;
    margin: 0 0 3vw 45vw;
    text-align: center;
}

/* Images */

header img {
    height: 20vh;
    margin: 2vh auto;
}

nav img {
    height: 4vh
}

.separator {
    height: 5vw;
    display: block;
    text-align: center;
    margin: 4vh auto;
}

.flip-card img {
    width: 20vw;
    height: 20vw;
    border-radius: 5px;
}

.work a:hover {
    color: orange;
}

.description {
    margin: 2vw 8vw;
    text-align: justify;
}

.description p {
    font-size: 2vw;
    line-height: 5.5vw;
    margin-bottom: 5vw;
}

.site-link {
    color: tomato;
    text-align: center;
    margin-bottom: 6vw;
    text-decoration: underline;
}

.site-link a {
    color: tomato;
}

.site-link a:hover {
    color: orange
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {

    header ul {
        display: flex;
        font-size: 3vw;
        justify-content: flex-start;
    }

    header ul:first-child li:first-child ,  header ul:first-child li:nth-child(2) {
        flex-grow: .4;
        text-align: center;
    }

    header li:last-child {
        flex-grow: .1;
    }

    header li {
        text-align: right;
        flex-grow: .3;
    }

    i.fab, i.fas {
        display: inline-block;
        font-size: 7vw;
        color: white;
        list-style-type: none;
    }

    i.fas {
        flex-grow: .5;
        justify-content: flex-start;
    }


    i.hidden, nav {
        display: none;
    }


    #mobile-nav {
        display: block;
    }
    
    #mobile-nav a {
        color: black
    }

    #mobile-nav a:hover {
        color: white;
    }

    #mobile-nav ul {
        display:block;
        padding: 2vw 0;
        background-color:orange;
        margin-bottom: 3vw;
    }

    #mobile-nav li {
        text-align: center;
        line-height: 1.5;
    }

    #card-1, #card-2, #card-3, #card-4 {
        width: 60vw;
        height: 60vw;
        margin-bottom: 2vw;
    }

    .flip-card img {
        width: 60vw;
        height: 60vw;
    }

    .flip-card h4 {
        font-size: 8vw;
        line-height: 12vw;
        margin: 10vw 2vw 2vw 2vw;
    }

    .flip-card p {
        font-size: 7vw;
        margin: 0 3vw 2vw 3vw;
        line-height: 10vw;
    }

    #contact li {
        font-size: 6vw;
        margin-bottom: 5vw;
    }


}


/* Flip Card Animation  */

.flip-card {
    background-color: transparent;
    width: 20vw;
    height: 20vw;
    border: 1px solid orange;
    padding: auto 1vw;
    border-radius: 5px;
    perspective: 1000px; 
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }

