body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: black;
    padding: 2vw;
    color: white;
    text-align: center;
}

.hidden, i.fas, header ul {
    display: none;
}

h1 {
    font-size:3vw;
    margin: 0 1vw;
}

h2 {
    font-size: 2vw;
    margin-top: 1vw;
}

h3 {
    font-size: 2vw;
    text-align: center;
    padding: 3vw;
}

h4 a {
    font-size: 2vw;
    color: orange;
    line-height: 3vw;
    text-decoration: underline;
}

h4 a:hover {
    color: orangered;
}

h5 {
    font-size: 1.5vw;
    color: black;
    line-height: 2.5vw;
    font-weight: bold;
    margin-top: 1vw;
}


nav {
    font-size: 2vw;
    text-align: center;
    background-color: orange;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 1vw 2vw;
}

.tech-list {
    padding: 1vw;
    margin: 0;
    font-size: 1.5vw;
}


a {
    text-decoration: none;
    color: black;
    font-size: 1.5vw
}

a:hover {
    color:white;
}

.fas {
    color: white;
}

#about p {
    width: 80vw;
    text-align: justify;
    font-size: 2vw;
    line-height: 3vw;
    margin: 2vh auto;
}

.project {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2vw;
}

.project-detail {
    width: 72vw;
    margin: 2vw;
}

.project p {
    font-size: 1.5vw;
    line-height: 2.5vw;
}

#mobile-nav {
    display: none;
    color:white;
    list-style: none;
    text-align:left;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
}

#contact a {
    color:black;
    font-size: 2vw;
}

#contact a:hover, #rc-link:hover {
    color: tomato;
}

#contact li {
    font-size: 2vw;
    text-align: center;
    margin-bottom: 10vw;
}

#contact i.fas {
    color: orange;
    display: inline-flex;
}

#contact img:last-child {
    height: 20vw;
    margin: 0 0 3vw 45vw;
    text-align: center;
}

#rc-link {
    color: orange;
    text-decoration: underline;
}

/* Images */

header img {
    height: 5vw;
    margin: 2vw auto;
}

nav img {
    height: 4vh
}

#separator1, #separator2, #separator3 {
    width: 85vw;
    height: .5vw;
    background-color: orange;
    margin: 5vw 7.5vw;

}

.thumbnail {
    width: 20vw;
    height: 20vw;
    margin: auto 2vw;
}

i.tech {
    display: inline-block;
    color: orange;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {

    header ul {
        display: flex;
        font-size: 3vw;
        justify-content: flex-start;
    }

    header ul:first-child li:first-child ,  header ul:first-child li:nth-child(2) {
        flex-grow: .4;
        text-align: center;
    }

    header li:last-child {
        flex-grow: .1;
    }

    header li {
        text-align: right;
        flex-grow: .3;
    }

    i.fab, i.fas {
        display: inline-block;
        font-size: 7vw;
        color: white;
        list-style-type: none;
    }

    i.fas {
        flex-grow: .5;
        justify-content: flex-start;
    }


    i.hidden, nav {
        display: none;
    }
    
    #mobile-nav a {
        color: black
    }

    #mobile-nav a:hover {
        color: white;
    }

    #mobile-nav ul {
        display:block;
        padding: 2vw 0;
        background-color:orange;
        margin-bottom: 3vw;
    }

    #mobile-nav li {
        text-align: center;
        line-height: 1.5;
    }

    #contact li {
        font-size: 6vw;
    }

}